.profile {
    padding: 15px;
}

.user-pic {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 50%;
}

.user-name {
    margin: 0;
    padding: 0;
    text-align: center;
}

.user-email {
    display: block;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
}