footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: cyan;
}

.footer-copyright {
    margin: 0;
    padding: 0;
}

.footer-copy {
    display: inline-block;
    color: #800;
    margin-left: 5px;
}